## Ejercicios de tuplas, sets y diccionarios

### Tuplas

### Ejercicio 1
- Crea una tupla utilizando la función **`range()`**, que tenga un rango del 11 al 19
    - Ejemplo: **`tupla = tuple(range(3))`**.

In [1]:
tupla = tuple(range(11,20))
tupla

(11, 12, 13, 14, 15, 16, 17, 18, 19)

- Crea una lista vacia y llenala con los números de la tupla anterior usando un bucle.

In [2]:
lista = []

for i in tupla:
    lista.append(i)

print(lista)

[11, 12, 13, 14, 15, 16, 17, 18, 19]

- Ordena la lista de mayor a menor

In [3]:
lista.sort()
lista.reverse()
lista

[19, 18, 17, 16, 15, 14, 13, 12, 11]

- Transforma la lista a tupla y ordenala de menor a mayor.

In [4]:
lista.sort()
tupla = tuple(lista)
print(tupla)

(11, 12, 13, 14, 15, 16, 17, 18, 19)

- ¿Que tipo de dato es la variable resultante?

In [5]:
type(tupla)

tuple

### Ejercicio 2
- Dada la siguiente **frase = "Fui programado para servir, no para destruir - C3PO"**, conviertela en tupla, ordenala y manten la tupla. (El resultado final debe ser una tupla)

In [27]:
frase = "Fui programado para servir, no para destruir - C3PO"
tupla = tuple(frase.split(" "))
tupla = sorted(tupla)
tupla

['-', 'C3PO', 'Fui', 'destruir', 'no', 'para', 'para', 'programado', 'servir,']

### Ejercicio 3
- Del resultado anterior, muestra cuantas veces aparece cada vocal.
    - Utiliza un bucle **for** que recorra la siguiente tupla: **("a", "e", "i", "o", "u")**

In [30]:
vocales = ("a", "e", "i", "o", "u")
for i in tupla:             #Accediendo a cada palabra de la tupla (como una lista de srt)
    print (i)
    for n in vocales:       # un recorrido de las vocales para poder hacer count sin escribir todas las vocales
        if (i.count(n)) != 0:
            print(i.count(n), (n))

-
C3PO
Fui
1 i
1 u
destruir
1 e
1 i
1 u
no
1 o
para
2 a
para
2 a
programado
2 a
2 o
servir,
1 e
1 i

In [25]:
vocales = ("a", "e", "i", "o", "u")
print(tupla)
a = tupla.count("a")
a
#i = 0
#print(tupla_final.count("a"))
#while i < len(vocales):

#print(tupla_final.count(vocales[i]), vocales[i])
#    i = i + 1

('Fui', 'programado', 'para', 'servir,', 'no', 'para', 'destruir', '-', 'C3PO')

0

### Ejercicio 4
- Dada la siguiente tupla: **(9, 8, 7, 5, "a", 3, 6, 5)**, encuentra la forma para eliminar la letra **"a"**. (El resultado debe ser una tupla)

In [114]:
tupla = (9, 8, 7, "a", 5, 3, 6, 5)
lista = []

for i in tupla:                 # Ejercicio 1 apartado 2 
    lista.append(i) 

if "a" in lista:
    lista.remove("a")

tupla_final = tuple(lista)
tupla_final

(9, 8, 7, 5, 3, 6, 5)

### Ejercicio 5
- Pregunta a un usuario que ingrese 5 elementos diferentes separados por coma y convierte estos elementos a una tupla, pueden ser palabras o un números.

In [136]:
frase = input("ingrese 5 elementos separados por coma:")
lista1 = frase.split("," and " ")
tupla = tuple(lista1)
tupla

('hola', 'hola', 'hola')

### Ejercicio 6
- Dada la siguiente lista de tuplas: **[(10, 20, 40), (40, 50, 60), (70, 80, 90)]**, elimina el último elemento de cada tupla dentro de la lista.

In [3]:
lista_tuplas = [(10,20,40),(40,50,60),(70,80,90)]
lista_tuplas2 = []

for i in lista_tuplas:
    lista = []  
    for n in i :
        lista.append(n)

    del lista[2]
    lista_tuplas2.append(tuple(lista))

print(lista_tuplas2)

[(10, 20), (40, 50), (70, 80)]

### Sets

### Ejercicio 7
- Pide al usuario que ingrese 3 empresas de tecnología, estos elementos agregalos al **set_1 = {"Meta", "Google", "Amazon"}**

- Verifica que no se repita ninguna empresa y dile al usuario que no se repitio ninguna empresa.

In [2]:
set_1 = {"Meta", "Google", "Amazon"}

In [18]:
lista = input("Ingrese").split(" ")
(set_1.intersection(set(lista)))
print(set(lista).union(set_1))
if set_1.intersection(set(lista)) == set():
    print("No hay ninguna empresa repetida")

{'Hola', 'Amazon', 'ksjksdj', 'kdsjsdk', 'ksdjdskj', 'Google', 'Meta'}
No hay ninguna lista repetida

### Ejercicio 8
- Repite el ejercicio anterior pero ahora imprime las empresas que se repiten en caso de que existiera uno o más que se repitan.

In [ ]:
set_1 = {"Meta", "Google", "Amazon"}

In [21]:
lista = input("Ingrese").split(" ")
if set_1.intersection(set(lista)) != set():
    print("Esto son los elementos repetidos: ", set_1.intersection(set(lista)))

if set_1.intersection(set(lista)) == set():
    print("No hay ninguna empresa repetida")

print(set(lista).union(set_1))

Esto son los elementos repetidos:  {'Google'}
{'amazon', 'dkfjfl', 'Amazon', 'Google', 'kfljk', 'Meta'}

### Ejercicio 9
- Dadas las siguientes **frase_1 = "En una galaxia lejana"** y **frase_2 = "Una galaxia llamadá Via Lactea"**, haz la intersección de las palabras.

In [23]:
Frase_1 = "En una galaxia lejana"
Frase_2 = "Una galaxia llamadá Via Lactea"

print(set(Frase_1.split(" ")).intersection(set(Frase_2.split())))

{'galaxia'}

### Ejercicio 10
- Encuentra la diferencia entre el **set_1 = {9, 8, 7, 6, 5, 4, 3, 2}** y el **set_2 = {9, 8, 10}**
- **Extra**: hazlo utilizando un bucle **`for`** y no la función.

In [52]:
set_1 = {9, 8, 7, 6, 5, 4, 3, 2}
set_2 = {9, 8, 10}
# Usamos update para que guarte el nuevo set en el anterior

for i in set_1.intersection(set_2):
    set_1.remove(i)
    set_2.remove(i)
    print(i)

set_1.update(set_2)

print(set_1)

8
9
{2, 3, 4, 5, 6, 7, 10}

### Diccionarios

### Ejercicio 11
- Crea un diccionario con 5 elementos (5 llaves y 5 valores)
    - **Llave**: Color
    - **Valor**: Numero de letras del color

In [64]:
lista1 = (input("Ingrese una lista de 5 colores: ")).split(" ")
lista2 = {}

for i in lista1:
    lista2.update({i:len(i)})
    print(len(i))
print(lista2)

4
4
5
{'azul': 4, 'rosa': 4, 'verde': 5}

In [ ]:

frase = str(input("Ingrese 5 colores separados por espacios: "))
llaves = frase.split(" ")
frase2 = str(input("Ingrese la cantidad de letras de cada color respectivamente:"))
valor = frase2.split(" ")
i = 0
diccionario_1 = {}
while i < len(llaves):

    diccionario_1[llaves[i]] = valor[i]
    i = i + 1

print(diccionario_1)

{'verde': '5', 'amarillo': '8', 'rojo': '4', 'azul': '4', 'rosa': '4'}

### Ejercicio 12
- Crea un diccionario con 5 elementos pero esta vez pregunta el usuario por cada llave y valor.
    - **Llave**: Color
    - **Valor**: Numero de letras del color

In [7]:
listallave = input("in").split(" ")
listavalor = input("in").split(" ")
dic = {}
n = 0
for i in listallave:
    dic[i] = listavalor[n]
    n = n +  1

print(dic)

{'ana': '3'}

### Ejercicio 13
- Repite el ejercicio anterior pero de la siguiente forma:
    - Primero crea en una lista los colores y en otra lista el numero de letras
    - Después crea el diccionario a partir de las listas.

In [ ]:
# Crea un diccionario con 5 elementos pero esta vez pregunta el usuario por cada llave y valor.
#    - **Llave**: Color
#   - **Valor**: Numero de letras del color

In [11]:
numero = 0
dic = {}
while numero < 5:
    color = input("Ingrese un color: ")
    valor = input("Ingrese cuantas letras tiene: " + (color))
    dic[color] = valor
    numero = numero + 1
print(dic)

{'azul': '4', 'verde': '5', 'rosa': '4', 'amarillo': '8', 'blanco': '6'}

### Ejercicio 14
- Pide al usuario que ingrese 3 números distintos y guarda esos números como llaves y crea los valores utilizando la siguiente formula:
    - x : x**2, donde x es la llave.

In [14]:
llaves = input("Ingrese tres números separados: ").split(" ")

dic = {}

for x in llaves:
    dic[x] = int(x)**2

print(dic)

{'2': 4, '4': 16, '6': 36}

### Ejercicio 15
- Pide al usuario que ingrese una frase y agrega las palabras como keys y la frecuencia de cada palabra como value en un diccionario.

In [3]:
frase = input("Ingrese una frase de solo palabras separadas por espacios:").split(" ")
dic = {}
for n in frase:
    dic[n] = frase.count(n)
print(dic)

{'ana': 5, 'me': 1, 'tienes': 1, 'enamorada': 1}

### Ejercicio 16

- Crea un programa donde las keys son 7 números aleatorios entre el 100 y el 200 y en los values debe de estar la palabra par o impar, si el número es par o impar

In [4]:
import random

In [10]:

dic = {}
for i in range(7):
    lista.append(random.randint(100,200))
    naleatoorio = random.randint(100,200)
    print(naleatoorio)

    if naleatoorio%2 == 0:
        dic[naleatoorio] = "par"
        print(naleatoorio)
    else:
        dic[naleatoorio] = "impar"
print(dic)

116
116
146
146
141
133
147
172
172
124
124
{116: 'par', 146: 'par', 141: 'impar', 133: 'impar', 147: 'impar', 172: 'par', 124: 'par'}

### Ejercicio 17
- Crea un programa donde las keys son 10 números enteros aleatorios entre el 1 y el 50 y para cada value del diccionario vamos a utilizar la siguiente formula x : 1/x

In [11]:
dic = {}
for i in range(10):
    lista.append(random.randint(1,50))
    naleatoorio = random.randint(1,50)
    print(naleatoorio)

    dic[naleatoorio] = 1/naleatoorio
print(dic)

34
12
2
6
25
45
7
27
4
36
{34: 0.029411764705882353, 12: 0.08333333333333333, 2: 0.5, 6: 0.16666666666666666, 25: 0.04, 45: 0.022222222222222223, 7: 0.14285714285714285, 27: 0.037037037037037035, 4: 0.25, 36: 0.027777777777777776}

### Ejercicio 18
- Crea un programa que dados los siguientes diccionarios: **d1 = {"a" : 125, "b" : 130, "c" : 150}**, **d2 = {"e" :  10, "b" : 20, "a" : 30}**, sume los items que tienen la misma key y guarde esas keys con la suma de los values en un nuevo diccionario

In [ ]:
d1 = {"a" : 125, "b" : 130, "c" : 150}
d2 = {"e" : 10, "b" : 20, "a" : 30}