### Ejercicio Limpieza (Sharks)

La idea principal de este ejercicio es practicar la limpieza de datos.

Para ello debeis de bajaros el data set de la siguiente dirección:

https://www.kaggle.com/datasets/teajay/global-shark-attacks

El objetivo del ejercicio es:
- No se pueden borrar columnas
- Cada columna debe de contener un único tipo de dato y debe de tener relación con los datos que guarda esta
- Se pueden borrar filas pero como mínimo deben de quedar 1500 filas
- El dataset no puede contener valores nulos

Extra:

- Una vez limpiado el dataset tratar de extraer algunos insights del mismo, o datos que puedan resultar curiosos

In [2]:
import numpy as np
import time
import pandas as pd
import warnings
warnings.filterwarnings('ignore')  # para quitar warnings

El error que estás experimentando indica que el archivo que estás intentando leer no puede ser decodificado correctamente como UTF-8. Esto puede suceder si el archivo contiene caracteres o caracteres especiales que no son compatibles con la codificación UTF-8.

Una solución común es intentar leer el archivo utilizando una codificación diferente, como Latin-1 (también conocida como ISO-8859-1), que es más tolerante con caracteres especiales:

In [3]:
df = pd.read_csv("../Ejercicios_extra/attacks.csv", encoding='latin-1')
df

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25718,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25719,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25720,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25721,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
diccionario_df_original = {"Dimensión" : {"Columnas" : df.shape[1],
                                 "Filas" : df.shape[0]}}
diccionario_df_original

{'Dimensión': {'Columnas': 24, 'Filas': 25723}}

In [5]:
len(df) #La cantidad de filas que hay, todas las columnas con menos filas que esas, significas que laas filas que no aparecen están llenas de nulos.

df_original = df
df_copia = df_original.copy()

any es una función en Python que retorna True si al menos uno de los elementos en una estructura de datos (como una lista, una tupla, o una Serie en pandas) es evaluado como True. Si todos los elementos son evaluados como False, entonces any retorna False

df.isna().any() devuelve una Serie de booleanos que indica para cada columna si hay datos faltantes o no. Luego, df.columns proporciona los nombres de todas las columnas del DataFrame.

Voy a crear un diccionario donde aparezca el nombre de la columna que tiene nans y una lista con los indices de nans en esa columna.

Hay columnas cuyos nombres tienen espacios por lo que para acceder a ellas hay que usar corchetes.

pd.isnull() verifica si un valor es nulo.
df_copia.iloc[indice - 1] accede al valor en el índice anterior.
df_copia.iloc[indice] accede al valor en el índice actual.
El código verifica si el valor en el índice anterior no es nulo (not pd.isnull(df_copia.iloc[indice - 1])). Si es el caso, asigna el valor en el índice anterior al índice actual. Si el valor en el índice anterior es nulo, no hace nada.
.any() verifica si al menos uno de estos valores es verdadero.

In [6]:
nan_cols = df_copia.isna().sum()
nan_cols

Case Number               17021
Date                      19421
Year                      19423
Type                      19425
Country                   19471
Area                      19876
Location                  19961
Activity                  19965
Name                      19631
Sex                       19986
Age                       22252
Injury                    19449
Fatal (Y/N)               19960
Time                      22775
Species                   22259
Investigator or Source    19438
pdf                       19421
href formula              19422
href                      19421
Case Number.1             19421
Case Number.2             19421
original order            19414
Unnamed: 22               25722
Unnamed: 23               25721
dtype: int64

Encontrar todas las filas que son nulas:

In [7]:
filas_todos_nulos = df[df.isnull().all(axis=1)]

print("Filas con todos los valores nulos:")
print(len(filas_todos_nulos))

Filas con todos los valores nulos:
17020

voy a borrar las filas cuyos valores son todos nulos:

In [8]:
df_sin_filas_nulas = df.dropna(how='all')

In [9]:
df_sin_filas_nulas

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
3,2018.06.08,08-Jun-2018,2018.0,Unprovoked,AUSTRALIA,New South Wales,Arrawarra Headland,Surfing,male,M,...,2 m shark,"B. Myatt, GSAF",2018.06.08-Arrawarra.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.08,2018.06.08,6300.0,NaN,NaN
4,2018.06.04,04-Jun-2018,2018.0,Provoked,MEXICO,Colima,La Ticla,Free diving,Gustavo Ramos,M,...,"Tiger shark, 3m",A .Kipper,2018.06.04-Ramos.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.04,2018.06.04,6299.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8698,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8699,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8700,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8701,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25722,xx,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
#Compruebo que no me quedo sin datos
len(df_original), len(df_sin_filas_nulas)

(25723, 8703)

# Elimina las filas donde los datos en las columnas x son nulos
df_sin_filas_nulas = df.dropna(subset=["name", "year", "sex"])

Para contar cuántas filas tienen datos nulos en las columnas "name", "year" y "sex" de tu DataFrame, puedes usar el método isna() y luego aplicar all(axis=1).

In [11]:
#qué nombres de columnas tengo?
df_sin_filas_nulas.columns

Index(['Case Number', 'Date', 'Year', 'Type', 'Country', 'Area', 'Location',
       'Activity', 'Name', 'Sex ', 'Age', 'Injury', 'Fatal (Y/N)', 'Time',
       'Species ', 'Investigator or Source', 'pdf', 'href formula', 'href',
       'Case Number.1', 'Case Number.2', 'original order', 'Unnamed: 22',
       'Unnamed: 23'],
      dtype='object')

Filas cuyas columnas importantes, a mi parecer, son nulas

In [12]:
filas_con_nulos = df_sin_filas_nulas[df_sin_filas_nulas[['Case Number', "Type", "Country", "Activity", "Name", "Sex ", "Age"]].isna().any(axis=1)]

cantidad_filas_con_nulos = len(filas_con_nulos)
cantidad_filas_con_nulos

5420

In [13]:
len(df_sin_filas_nulas)

8703

Eliminar esas filas

In [14]:
df_sin_filas_nulas = df_sin_filas_nulas.dropna(subset=["Case Number", "Type", "Country", "Activity", "Name", "Sex ", "Age"])

In [15]:
len(df_sin_filas_nulas)

3283

In [16]:
df_sin_filas_nulas

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
1,2018.06.18,18-Jun-2018,2018.0,Unprovoked,USA,Georgia,"St. Simon Island, Glynn County",Standing,Adyson McNeely,F,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.18-McNeely.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.18,2018.06.18,6302.0,NaN,NaN
2,2018.06.09,09-Jun-2018,2018.0,Invalid,USA,Hawaii,"Habush, Oahu",Surfing,John Denges,M,...,NaN,"K.McMurray, TrackingSharks.com",2018.06.09-Denges.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.09,2018.06.09,6301.0,NaN,NaN
6,2018.06.03.a,03-Jun-2018,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,...,Tiger shark,"Diario de Pernambuco, 6/4/2018",2018.06.03.a-daSilva.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.03.a,2018.06.03.a,6297.0,NaN,NaN
7,2018.05.27,27-May-2018,2018.0,Unprovoked,USA,Florida,"Lighhouse Point Park, Ponce Inlet, Volusia County",Fishing,male,M,...,"Lemon shark, 3'","K. McMurray, TrackingSharks.com",2018.05.27-Ponce.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.27,2018.05.27,6296.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6243,ND.0063,1960s,0.0,Unprovoked,IRAQ,Basrah,Shatt-al-Arab River near Abu al Khasib,Swimming in section of river used for washing ...,male,M,...,Bull shark,B.W. Coad & L.A.J. Al-Hassan,ND-0063-Shatt-al-Arab.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0063,ND.0063,60.0,NaN,NaN
6254,ND.0051,Before 1957,0.0,Provoked,CUBA,Havana Province,Cojimar,"Shark fishing, knocked overboard",Sandrillio,M,...,NaN,"F. Poli, pp.75, 81-83",ND-0051-Sandrillio.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0051,ND.0051,49.0,NaN,NaN
6265,ND.0038,1941-1942,0.0,Unprovoked,IRAQ,Basrah,Shatt-el Arab River near a small boat stand,Swimming,male,M,...,Bull shark,B.W. Coad & L.A.J. Al-Hassan,ND-0038-Shatt-al-Arab.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0038,ND.0038,38.0,NaN,NaN
6276,ND.0026,Early 1930s,0.0,Unprovoked,BELIZE,NaN,NaN,Standing,a servant,M,...,12' tiger shark,Mitchell-Hedges,ND-0026-Belize.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0026,ND.0026,27.0,NaN,NaN
6301,ND.0001,1845-1853,0.0,Unprovoked,CEYLON (SRI LANKA),Eastern Province,"Below the English fort, Trincomalee",Swimming,male,M,...,NaN,S.W. Baker,ND-0001-Ceylon.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0001,ND.0001,2.0,NaN,NaN

In [17]:
filas_con_nulos = df_sin_filas_nulas[df_sin_filas_nulas[['Species ']].isna().any(axis=1)]

cantidad_filas_con_nulos = len(filas_con_nulos)
cantidad_filas_con_nulos

1172

In [18]:
df_sin_filas_nulas = df_sin_filas_nulas.dropna(subset=["Species "])

In [19]:
len(df_sin_filas_nulas)

2111

¿que columnas siguen teniendo nulos?

In [20]:
nan_cols = df_sin_filas_nulas.isna().sum()
nan_cols[nan_cols > 0]

Year                         1
Area                        43
Location                    48
Fatal (Y/N)                183
Time                       572
Investigator or Source       3
Unnamed: 22               2111
Unnamed: 23               2111
dtype: int64

In [21]:
filas_con_nulos = df_sin_filas_nulas[df_sin_filas_nulas[['Fatal (Y/N)']].isna().any(axis=1)]

cantidad_filas_con_nulos = len(filas_con_nulos)
cantidad_filas_con_nulos

183

In [22]:
df_sin_filas_nulas = df_sin_filas_nulas.dropna(subset=["Fatal (Y/N)"])

In [23]:
len(df_sin_filas_nulas)

1928

In [24]:
filas_con_nulos = df_sin_filas_nulas[df_sin_filas_nulas[['Year', "Area", "Location", "Investigator or Source"]].isna().any(axis=1)]

cantidad_filas_con_nulos = len(filas_con_nulos)
cantidad_filas_con_nulos

67

In [25]:
df_sin_filas_nulas = df_sin_filas_nulas.dropna(subset=['Year', "Area", "Location", "Investigator or Source"])

In [26]:
len(df_sin_filas_nulas)

1861

In [27]:
nan_cols = df_sin_filas_nulas.isna().sum()
nan_cols[nan_cols > 0]

Time            439
Unnamed: 22    1861
Unnamed: 23    1861
dtype: int64

In [28]:
# Eliminar las primeras 361 filas donde el dato en la columna "time" es nulo
df_sin_filas_nulas = df_sin_filas_nulas.drop(df_sin_filas_nulas[df_sin_filas_nulas['Time'].isnull()].head(361).index)

In [29]:
len(df_sin_filas_nulas)

1500

In [30]:
df_sin_filas_nulas.head()

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,NaN,NaN
6,2018.06.03.a,03-Jun-2018,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,...,Tiger shark,"Diario de Pernambuco, 6/4/2018",2018.06.03.a-daSilva.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.03.a,2018.06.03.a,6297.0,NaN,NaN
8,2018.05.26.b,26-May-2018,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,...,"Bull shark, 6'","K.McMurray, TrackingSharks.com",2018.05.26.b-High.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.26.b,2018.05.26.b,6295.0,NaN,NaN
10,2018.05.24,24-May-2018,2018.0,Provoked,AUSTRALIA,Queensland,Cairns Aquarium,Feeding sharks,male,M,...,Grey reef shark,"ABC.net.au ,05/24/2018",2018.05.24-CairnsAquarium.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.24,2018.05.24,6293.0,NaN,NaN
13,2018.05.13.a,13-May-2018,2018.0,Invalid,ENGLAND,Cornwall,Off Land's End,Fishing,Max Berryman,M,...,Invalid incident,"K. McMurray, TrackingSharks.com",2018.05.13.a-Berryman.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.13.a,2018.05.13.a,6290.0,NaN,NaN

#Sé que en la columna "Unnamed 23" solo hay un valor no nulo, voy a sustituir todos los demás por ese valor.

In [31]:
len(df_copia)

25723

En df_copia habia un valor no nulo en la columna Unnamed 23

In [32]:
valor_no_nulo = df_copia['Unnamed: 22'].dropna().unique()

if len(valor_no_nulo) == 1:
    # Encuentra el índice del único valor no nulo
    indice_valor_no_nulo = df_copia[df_copia['Unnamed: 22'] == valor_no_nulo[0]].index[0]
    print(f"El valor no nulo '{valor_no_nulo[0]}' se encuentra en el índice {indice_valor_no_nulo}.")
else:
    print("No hay un único valor no nulo en la columna 'Unnamed: 22'.")

valores_nulos = df_copia['Unnamed: 22'].isna().sum()
valores_nulos

El valor no nulo 'stopped here' se encuentra en el índice 1478.

25722

Voy a sustituir los valores de la columna Unnamed 22 y Unnamed 23 por el valor anterior

In [33]:
df_sin_filas_nulas["Unnamed: 22"] = "stopped here"

In [34]:
df_sin_filas_nulas["Unnamed: 23"] = "stopped here"

In [35]:
nan_cols = df_sin_filas_nulas.isna().sum()
nan_cols[nan_cols > 0]

Time    78
dtype: int64

In [36]:
df_sin_filas_nulas["Time"] = "Unknown"

In [37]:
df_sin_filas_nulas

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,stopped here,stopped here
6,2018.06.03.a,03-Jun-2018,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,...,Tiger shark,"Diario de Pernambuco, 6/4/2018",2018.06.03.a-daSilva.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.03.a,2018.06.03.a,6297.0,stopped here,stopped here
8,2018.05.26.b,26-May-2018,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,...,"Bull shark, 6'","K.McMurray, TrackingSharks.com",2018.05.26.b-High.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.26.b,2018.05.26.b,6295.0,stopped here,stopped here
10,2018.05.24,24-May-2018,2018.0,Provoked,AUSTRALIA,Queensland,Cairns Aquarium,Feeding sharks,male,M,...,Grey reef shark,"ABC.net.au ,05/24/2018",2018.05.24-CairnsAquarium.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.24,2018.05.24,6293.0,stopped here,stopped here
13,2018.05.13.a,13-May-2018,2018.0,Invalid,ENGLAND,Cornwall,Off Land's End,Fishing,Max Berryman,M,...,Invalid incident,"K. McMurray, TrackingSharks.com",2018.05.13.a-Berryman.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.13.a,2018.05.13.a,6290.0,stopped here,stopped here
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6226,ND.0087,"No date, Before 1975",0.0,Provoked,USA,Florida,"Riviera Beach, Palm Beach County",Skin diving. Grabbed shark's tail; shark turne...,Carl Bruster,M,...,"Nurse shark, 2.1 m [7']","R. Skocik, p.176",ND-0087-Carl-Bruster.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0087,ND.0087,77.0,stopped here,stopped here
6239,ND.0068,Before 1962,0.0,Unprovoked,MOZAMBIQUE,Maputo Province,Santa Maria Peninsula,Skindiving,Les Bishop,M,...,"""A pack of sharks""",L. Bishop; V.M. Coppleson (1962),ND-0068-LesBishop.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0068,ND.0068,64.0,stopped here,stopped here
6242,ND.0064,1960s,0.0,Unprovoked,IRAQ,Basrah,Shatt-al-Arab River,Swimming naked near a date palm where many dat...,male,M,...,Bull shark,B.W. Coad & L.A.J. Al-Hassan,ND-0064-Shatt-al-Arab.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0064,ND.0064,61.0,stopped here,stopped here
6243,ND.0063,1960s,0.0,Unprovoked,IRAQ,Basrah,Shatt-al-Arab River near Abu al Khasib,Swimming in section of river used for washing ...,male,M,...,Bull shark,B.W. Coad & L.A.J. Al-Hassan,ND-0063-Shatt-al-Arab.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0063,ND.0063,60.0,stopped here,stopped here
6265,ND.0038,1941-1942,0.0,Unprovoked,IRAQ,Basrah,Shatt-el Arab River near a small boat stand,Swimming,male,M,...,Bull shark,B.W. Coad & L.A.J. Al-Hassan,ND-0038-Shatt-al-Arab.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0038,ND.0038,38.0,stopped here,stopped here

In [38]:
df_sin_filas_nulas.dtypes

Case Number                object
Date                       object
Year                      float64
Type                       object
Country                    object
Area                       object
Location                   object
Activity                   object
Name                       object
Sex                        object
Age                        object
Injury                     object
Fatal (Y/N)                object
Time                       object
Species                    object
Investigator or Source     object
pdf                        object
href formula               object
href                       object
Case Number.1              object
Case Number.2              object
original order            float64
Unnamed: 22                object
Unnamed: 23                object
dtype: object

In [39]:
#VOY A TENER QUE CAMBIARLOS UNO A UNO:
df_sin_filas_nulas.at[423, 'Date'] = pd.to_datetime("20-May-2015", format="%d-%b-%Y")

In [40]:
type(df_sin_filas_nulas.at[423, "Date"])

pandas._libs.tslibs.timestamps.Timestamp

In [41]:
#HAY ESPACIOS QUE ME JODEN LA VIDA
df_sin_filas_nulas.at[622, 'Date'] = pd.to_datetime(df_sin_filas_nulas.at[622, 'Date'], format='%d-%b-%Y')

ValueError: time data ' 14-Sep-2013' does not match format '%d-%b-%Y' (match)

In [ ]:
#BORRAR LOS ESPACIOS DE LA COLUMNA DATE:
df_sin_filas_nulas['Date'] = df_sin_filas_nulas['Date'].str.replace(' ', '')

In [ ]:
#Para convertir las fechas en el formato 'DD-MMM-YYYY' usando pd.to_datetime, y dejar las que no se pueden convertir sin cambios, puedes utilizar un enfoque con try y except
for indice, fecha in df_sin_filas_nulas['Date'].iteritems():
    try:
        nueva_fecha = pd.to_datetime(fecha, format='%d-%b-%Y')
        df_sin_filas_nulas.at[indice, 'Date'] = nueva_fecha
    except ValueError:
        pass  # No se puede convertir, dejar como está

In [ ]:
#Voy a crear una lista con todos los indices donde los datos no son tipo datetime o time
indices_no_fecha = []

for indice, valor in df_sin_filas_nulas['Date'].items():
    if not isinstance(valor, (pd.Timestamp, pd.Timedelta)):
        indices_no_fecha.append(indice)

print(indices_no_fecha)

[668, 942, 1357, 1358, 1376, 2070, 2143, 2147, 2496, 2508, 2817, 2831, 2853, 2866, 3046, 3048, 3068, 3096, 3255, 3305, 3440, 3519, 3565, 3890, 4056, 4154, 4267, 4314, 4366, 4471, 4489, 4499, 4544, 4551, 4555, 4571, 4630, 4631, 4644, 4725, 4762, 4789, 4827, 5000, 5118, 5133, 5168, 5224, 5544, 5598, 5838, 6226, 6239, 6242, 6243, 6265]

In [ ]:
len(indices_no_fecha)

56

In [ ]:
for i in indices_no_fecha:
    print(df_sin_filas_nulas["Date"][i], type(df_sin_filas_nulas.at[i, 'Date']), i )

19-Jul-2007.b <class 'str'> 1357
19-Jul-2007.a <class 'str'> 1358
Mar-2000 <class 'str'> 2070
1999 <class 'str'> 2143
Jun-1993 <class 'str'> 2496
04-Feb1993 <class 'str'> 2508
Jul-1986 <class 'str'> 2817
1986 <class 'str'> 2831
MidJul-1985ormidJul-1986 <class 'str'> 2853
Jan-1985 <class 'str'> 2866
1981 <class 'str'> 3046
12-30-1980 <class 'str'> 3048
Apr-1980 <class 'str'> 3068
05May1979 <class 'str'> 3096
Sep-1974 <class 'str'> 3255
Mar-1973 <class 'str'> 3305
Aug-1967 <class 'str'> 3519
Aug-1966 <class 'str'> 3565
Jul-1961 <class 'str'> 3890
Oct-1959 <class 'str'> 4056
Jul-1958 <class 'str'> 4154
1956 <class 'str'> 4267
Ca.1955 <class 'str'> 4314
Jul-1950 <class 'str'> 4471
Summer1950 <class 'str'> 4489
Dec-1949 <class 'str'> 4499
Aug-1948 <class 'str'> 4544
Mar-1948 <class 'str'> 4551
Summer1948 <class 'str'> 4555
1945 <class 'str'> 4630
Between18&22-Dec1944 <class 'str'> 4631
22-Jul-144 <class 'str'> 4644
1942 <class 'str'> 4725
Sep-1940 <class 'str'> 4762
1938 <class 'str'> 4827
1932 <class 'str'> 5000
Jan-1928 <class 'str'> 5118
Feb-1927 <class 'str'> 5133
07-Mar-1925or27-Mar-1925 <class 'str'> 5168
24-May1922 <class 'str'> 5224
1898 <class 'str'> 5598
Nodate,Before1975 <class 'str'> 6226
Before1962 <class 'str'> 6239
1960s <class 'str'> 6242
1960s <class 'str'> 6243
1941-1942 <class 'str'> 6265

In [ ]:
#COMO ELIMINÉ LOS ESPACIOS, PRIMERO TENGO QUE AÑADIR UN ESPACIO ENTRE REPORTED Y EL NUMERO PARA LUEGO BORRAR EL REPORTED
for indice in indices_no_fecha:
    valor = df_sin_filas_nulas.at[indice, 'Date']
    if valor.startswith('Reported'):
        nuevo_valor = valor.replace('Reported', 'Reported ')
        df_sin_filas_nulas.at[indice, 'Date'] = nuevo_valor

In [ ]:
#Voy a eliminar el Reported de los datos que los tienen y cuyos indices están dentro de la lista anterior
for i in indices_no_fecha:
    if df_sin_filas_nulas.at[i, "Date"].startswith('Reported '):
        df_sin_filas_nulas.at[i, "Date"] = df_sin_filas_nulas.at[i, "Date"].replace("Reported ", '')

In [ ]:
df_sin_filas_nulas["Date"][942]

'28-Feb-2011'

In [ ]:
#Una vez eliminado el reported, vuelvo a intentar cambiar el tipo de dato a datetime o timestamp:
for indice, fecha in df_sin_filas_nulas['Date'].iteritems():
    try:
        nueva_fecha = pd.to_datetime(fecha, format='%d-%b-%Y')
        df_sin_filas_nulas.at[indice, 'Date'] = nueva_fecha
    except ValueError:
        pass  # No se puede convertir, dejar como está

In [ ]:
#compruebo a ver si ha cambiado algunos datos:
#Voy a crear una lista con todos los indices donde los datos no son tipo datetime o time
indices_no_fecha = []

for indice, valor in df_sin_filas_nulas['Date'].items():
    if not isinstance(valor, (pd.Timestamp, pd.Timedelta)):
        indices_no_fecha.append(indice)

print(indices_no_fecha)

[1357, 1358, 2070, 2143, 2496, 2508, 2817, 2831, 2853, 2866, 3046, 3048, 3068, 3096, 3255, 3305, 3519, 3565, 3890, 4056, 4154, 4267, 4314, 4471, 4489, 4499, 4544, 4551, 4555, 4630, 4631, 4644, 4725, 4762, 4827, 5000, 5118, 5133, 5168, 5224, 5598, 6226, 6239, 6242, 6243, 6265]

In [ ]:
len(indices_no_fecha) #Bien, me ha cambiado 10 datos.

46

In [ ]:
#Observo un tipo de dato que le falta guiones entre el dia y el mes y el mes y el año:
df_sin_filas_nulas.at[3096, "Date"]

'05May1979'

In [ ]:
for i in indices_no_fecha:
    fecha = df_sin_filas_nulas.at[i, "Date"]
    if len(fecha) == 9 and fecha.isalnum():  #si es alphanumerica
        nueva_fecha = f"{fecha[:2]}-{fecha[2:5]}-{fecha[5:]}" #mete guiones entre los indices de la cadena de caracteres
        df_sin_filas_nulas.at[i, "Date"] = nueva_fecha

In [ ]:
#comprobamos:
df_sin_filas_nulas.at[3096, "Date"]
#Y funcionó

'05-May-1979'

In [ ]:
#Ahora vuelvo a convertir todos los datos que pueda en formato fecha:
for indice, fecha in df_sin_filas_nulas['Date'].iteritems():
    try:
        nueva_fecha = pd.to_datetime(fecha, format='%d-%b-%Y')
        df_sin_filas_nulas.at[indice, 'Date'] = nueva_fecha
    except ValueError:
        pass  # No se puede convertir, dejar como está

In [ ]:
#compruebo a ver si ha cambiado algunos datos:
#Voy a crear una lista con todos los indices donde los datos no son tipo datetime o time
indices_no_fecha = []

for indice, valor in df_sin_filas_nulas['Date'].items():
    if not isinstance(valor, (pd.Timestamp, pd.Timedelta)):
        indices_no_fecha.append(indice)

print(indices_no_fecha)

[1357, 1358, 2070, 2143, 2496, 2508, 2817, 2831, 2853, 2866, 3046, 3048, 3068, 3255, 3305, 3519, 3565, 3890, 4056, 4154, 4267, 4314, 4471, 4489, 4499, 4544, 4551, 4555, 4630, 4631, 4644, 4725, 4762, 4827, 5000, 5118, 5133, 5168, 5224, 5598, 6226, 6239, 6242, 6243, 6265]

In [ ]:
#veo si ha cambiado algun dato, antes len(indice_nofecha) = 46
len(indices_no_fecha) #Bien, me ha cambiado 1 dato... vaya caca, podía haberlo cambiado manualmente?

45

In [ ]:
type(df_sin_filas_nulas.at[3096, 'Date'])

pandas._libs.tslibs.timestamps.Timestamp

In [ ]:
#Vuelvo a imprimir los tipos de datos de los indices que me quedan por cambiar
for i in indices_no_fecha:
    print(df_sin_filas_nulas["Date"][i], type(df_sin_filas_nulas.at[i, 'Date']), i )

19-Jul-2007.b <class 'str'> 1357
19-Jul-2007.a <class 'str'> 1358
Mar-2000 <class 'str'> 2070
1999 <class 'str'> 2143
Jun-1993 <class 'str'> 2496
04-Feb1993 <class 'str'> 2508
Jul-1986 <class 'str'> 2817
1986 <class 'str'> 2831
MidJul-1985ormidJul-1986 <class 'str'> 2853
Jan-1985 <class 'str'> 2866
1981 <class 'str'> 3046
12-30-1980 <class 'str'> 3048
Apr-1980 <class 'str'> 3068
Sep-1974 <class 'str'> 3255
Mar-1973 <class 'str'> 3305
Aug-1967 <class 'str'> 3519
Aug-1966 <class 'str'> 3565
Jul-1961 <class 'str'> 3890
Oct-1959 <class 'str'> 4056
Jul-1958 <class 'str'> 4154
1956 <class 'str'> 4267
Ca.1955 <class 'str'> 4314
Jul-1950 <class 'str'> 4471
Summer1950 <class 'str'> 4489
Dec-1949 <class 'str'> 4499
Aug-1948 <class 'str'> 4544
Mar-1948 <class 'str'> 4551
Summer1948 <class 'str'> 4555
1945 <class 'str'> 4630
Between18&22-Dec1944 <class 'str'> 4631
22-Jul-144 <class 'str'> 4644
1942 <class 'str'> 4725
Sep-1940 <class 'str'> 4762
1938 <class 'str'> 4827
1932 <class 'str'> 5000
Jan-1928 <class 'str'> 5118
Feb-1927 <class 'str'> 5133
07-Mar-1925or27-Mar-1925 <class 'str'> 5168
24-May1922 <class 'str'> 5224
1898 <class 'str'> 5598
Nodate,Before1975 <class 'str'> 6226
Before1962 <class 'str'> 6239
1960s <class 'str'> 6242
1960s <class 'str'> 6243
1941-1942 <class 'str'> 6265

In [ ]:
len(indices_no_fecha)

45

In [ ]:
df_sin_filas_nulas.at[4644, "Date"]

'22-Jul-1444'

In [ ]:
#Voy a cambiar los datos de los indices que no son fechas segun la cantidad de carcateres que tenga:

for i in indices_no_fecha:
    fecha = df_sin_filas_nulas.at[i, "Date"]
    if len(fecha) == 8:
        df_sin_filas_nulas.at[i, "Date"] = "01-" + fecha
    if len(fecha) == 4:
        df_sin_filas_nulas.at[i, "Date"] = "01-Jan-" + fecha
    if len(fecha) == 12:  #Atenta a como quito a traves de los indices..
        df_sin_filas_nulas.at[i, "Date"] = df_sin_filas_nulas.at[i, "Date"][:-1]
    if len(fecha) == 9:
        fecha = df_sin_filas_nulas.at[i, "Date"][:4]
        df_sin_filas_nulas.at[i, "Date"] = "31-Dec-" + fecha
    if len(fecha) == 7:
        fecha = df_sin_filas_nulas.at[i, "Date"][3:7]
        df_sin_filas_nulas.at[i, "Date"] = "01-Jan-" + fecha
    if len(fecha) == 10 and fecha[6:10].startswith("-"):
        df_sin_filas_nulas.at[i, "Date"] = df_sin_filas_nulas.at[i, "Date"] + "4"

In [ ]:
for i in indices_no_fecha:
    fecha = df_sin_filas_nulas.at[i, "Date"]
    if len(fecha) == 10:
        if fecha[5] != "-":
            nueva_fecha = f"{fecha[:6]}-{fecha[6:]}" #mete guiones entre los indices de la cadena de caracteres
            if nueva_fecha[0:6] == "Summer":
                nueva_fecha = nueva_fecha[6:]
                df_sin_filas_nulas.at[i, "Date"] = "01-Jun" + nueva_fecha
            if nueva_fecha[0:6] == "Before":
                nueva_fecha = nueva_fecha[6:]
                df_sin_filas_nulas.at[i, "Date"] = "01-Jun" + nueva_fecha

In [ ]:
#Observo otro tipo de dato al que le falta un guion para ser una fecha, como por ejemplo:
df_sin_filas_nulas.at[6239, "Date"]

'01-Jun-1962'

In [ ]:
#se supone que ya tengo todos los datos cambiado a formato fecha para cambiarlos ahora a tipo de dato datetime:
for indice, fecha in df_sin_filas_nulas['Date'].iteritems():
    try:
        nueva_fecha = pd.to_datetime(fecha, format='%d-%b-%Y')
        df_sin_filas_nulas.at[indice, 'Date'] = nueva_fecha
    except ValueError:
        pass  # No se puede convertir, dejar como está

In [ ]:
#compruebo a ver si ha cambiado algunos datos:
#Voy a crear una lista con todos los indices donde los datos no son tipo datetime o time
indices_no_fecha = []

for indice, valor in df_sin_filas_nulas['Date'].items():
    if not isinstance(valor, (pd.Timestamp, pd.Timedelta)):
        indices_no_fecha.append(indice)

print(indices_no_fecha)

[1357, 1358, 2508, 2853, 3048, 4631, 4644, 5168, 5224, 6226]

In [ ]:
#Pues aun quedan datos, voy a ver cuales son:
for i in indices_no_fecha:
    print(df_sin_filas_nulas.at[i, "Date"], i)

19-Jul-2007.b 1357
19-Jul-2007.a 1358
04-Feb1993 2508
MidJul-1985ormidJul-1986 2853
12-30-1980 3048
Between18&22-Dec1944 4631
22-Jul-1444 4644
07-Mar-1925or27-Mar-1925 5168
24-May1922 5224
Nodate,Before1975 6226

In [ ]:
df_sin_filas_nulas.at[1357, "Date"] = "19-Jul-2007"
df_sin_filas_nulas.at[1358, "Date"] = "19-Jul-2007"
df_sin_filas_nulas.at[2508, "Date"] = "04-Feb-1993"
df_sin_filas_nulas.at[2853, "Date"] = "15-Jul-1986"
df_sin_filas_nulas.at[3048, "Date"] = "30-Dec-1980"
df_sin_filas_nulas.at[4631, "Date"] = "20-Dec-1944"
df_sin_filas_nulas.at[4644, "Date"] = "22-Jul-1440"
df_sin_filas_nulas.at[5168, "Date"] = "07-Mar-1925"
df_sin_filas_nulas.at[5224, "Date"] = "24-May-1922"
df_sin_filas_nulas.at[6226, "Date"] = "01-Jan-1975"

In [ ]:
#Vamos a ver si me los cambia ahora:
for indice, fecha in df_sin_filas_nulas['Date'].iteritems():
    try:
        nueva_fecha = pd.to_datetime(fecha, format='%d-%b-%Y')
        df_sin_filas_nulas.at[indice, 'Date'] = nueva_fecha
    except ValueError:
        pass  # No se puede convertir, dejar como está

In [ ]:
indices_no_fecha = []

for indice, valor in df_sin_filas_nulas['Date'].items():
    if not isinstance(valor, (pd.Timestamp, pd.Timedelta)):
        indices_no_fecha.append(indice)

print(indices_no_fecha)

[4644]

In [ ]:
df_sin_filas_nulas.at[4644, "Date"] = ""

In [ ]:
df_sin_filas_nulas.at[4644, "Date"] = "22-Jul-1440"

In [ ]:
# A ver porqué no cambia el dato (4644).. PORQUE EL PRIMER AÑO QUE SE PUEDE USAR EN DATETIME ES 1677..........................
df_sin_filas_nulas.at[4644, "Date"] = pd.to_datetime(df_sin_filas_nulas.at[4644, "Date"], format="%d-%b-%Y")

OutOfBoundsDatetime: Out of bounds nanosecond timestamp: 1440-07-22 00:00:00

In [ ]:
df_sin_filas_nulas.at[4644, "Date"] = "22-Jul-1678"

In [ ]:
df_sin_filas_nulas.at[4644, "Date"] = pd.to_datetime(df_sin_filas_nulas.at[4644, "Date"], format="%d-%b-%Y")

In [ ]:
indices_no_fecha_tiempo = []
for indice, valor in df_sin_filas_nulas['Date'].items():
    if not isinstance(valor, (pd.Timestamp, pd.Timedelta)):
        indices_no_fecha_tiempo.append(indice)

print(indices_no_fecha_tiempo)

[]

In [ ]:
df_final  = df_sin_filas_nulas

In [ ]:
df_sin_filas_nulas['Date'] = pd.to_datetime(df_sin_filas_nulas['Date'], errors='coerce')
tipo_dato_columna = df_sin_filas_nulas['Date'].dtype

print(tipo_dato_columna)

datetime64[ns]

In [ ]:
df_sin_filas_nulas

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,2018-06-25,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,stopped here,stopped here
6,2018.06.03.a,2018-06-03,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,...,Tiger shark,"Diario de Pernambuco, 6/4/2018",2018.06.03.a-daSilva.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.03.a,2018.06.03.a,6297.0,stopped here,stopped here
8,2018.05.26.b,2018-05-26,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,...,"Bull shark, 6'","K.McMurray, TrackingSharks.com",2018.05.26.b-High.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.26.b,2018.05.26.b,6295.0,stopped here,stopped here
10,2018.05.24,2018-05-24,2018.0,Provoked,AUSTRALIA,Queensland,Cairns Aquarium,Feeding sharks,male,M,...,Grey reef shark,"ABC.net.au ,05/24/2018",2018.05.24-CairnsAquarium.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.24,2018.05.24,6293.0,stopped here,stopped here
13,2018.05.13.a,2018-05-13,2018.0,Invalid,ENGLAND,Cornwall,Off Land's End,Fishing,Max Berryman,M,...,Invalid incident,"K. McMurray, TrackingSharks.com",2018.05.13.a-Berryman.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.13.a,2018.05.13.a,6290.0,stopped here,stopped here
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6226,ND.0087,1975-01-01,0.0,Provoked,USA,Florida,"Riviera Beach, Palm Beach County",Skin diving. Grabbed shark's tail; shark turne...,Carl Bruster,M,...,"Nurse shark, 2.1 m [7']","R. Skocik, p.176",ND-0087-Carl-Bruster.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0087,ND.0087,77.0,stopped here,stopped here
6239,ND.0068,1962-06-01,0.0,Unprovoked,MOZAMBIQUE,Maputo Province,Santa Maria Peninsula,Skindiving,Les Bishop,M,...,"""A pack of sharks""",L. Bishop; V.M. Coppleson (1962),ND-0068-LesBishop.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0068,ND.0068,64.0,stopped here,stopped here
6242,ND.0064,1960-01-01,0.0,Unprovoked,IRAQ,Basrah,Shatt-al-Arab River,Swimming naked near a date palm where many dat...,male,M,...,Bull shark,B.W. Coad & L.A.J. Al-Hassan,ND-0064-Shatt-al-Arab.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0064,ND.0064,61.0,stopped here,stopped here
6243,ND.0063,1960-01-01,0.0,Unprovoked,IRAQ,Basrah,Shatt-al-Arab River near Abu al Khasib,Swimming in section of river used for washing ...,male,M,...,Bull shark,B.W. Coad & L.A.J. Al-Hassan,ND-0063-Shatt-al-Arab.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0063,ND.0063,60.0,stopped here,stopped here
6265,ND.0038,1941-12-31,0.0,Unprovoked,IRAQ,Basrah,Shatt-el Arab River near a small boat stand,Swimming,male,M,...,Bull shark,B.W. Coad & L.A.J. Al-Hassan,ND-0038-Shatt-al-Arab.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0038,ND.0038,38.0,stopped here,stopped here

In [ ]:
df_sin_filas_nulas['Year'] = pd.to_datetime(df_sin_filas_nulas['Year'], errors='coerce')

In [ ]:
#Reorganizar los datos:
df_reorganizado = df_sin_filas_nulas.reset_index(drop=True)

In [ ]:
df_reorganizado.at[0, "Year"]

Timestamp('1970-01-01 00:00:00.000002018')

In [ ]:
df_reorganizado

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,2018-06-25,1970-01-01 00:00:00.000002018,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,stopped here,stopped here
1,2018.06.03.a,2018-06-03,1970-01-01 00:00:00.000002018,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,...,Tiger shark,"Diario de Pernambuco, 6/4/2018",2018.06.03.a-daSilva.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.03.a,2018.06.03.a,6297.0,stopped here,stopped here
2,2018.05.26.b,2018-05-26,1970-01-01 00:00:00.000002018,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,...,"Bull shark, 6'","K.McMurray, TrackingSharks.com",2018.05.26.b-High.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.26.b,2018.05.26.b,6295.0,stopped here,stopped here
3,2018.05.24,2018-05-24,1970-01-01 00:00:00.000002018,Provoked,AUSTRALIA,Queensland,Cairns Aquarium,Feeding sharks,male,M,...,Grey reef shark,"ABC.net.au ,05/24/2018",2018.05.24-CairnsAquarium.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.24,2018.05.24,6293.0,stopped here,stopped here
4,2018.05.13.a,2018-05-13,1970-01-01 00:00:00.000002018,Invalid,ENGLAND,Cornwall,Off Land's End,Fishing,Max Berryman,M,...,Invalid incident,"K. McMurray, TrackingSharks.com",2018.05.13.a-Berryman.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.13.a,2018.05.13.a,6290.0,stopped here,stopped here
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1495,ND.0087,1975-01-01,1970-01-01 00:00:00.000000000,Provoked,USA,Florida,"Riviera Beach, Palm Beach County",Skin diving. Grabbed shark's tail; shark turne...,Carl Bruster,M,...,"Nurse shark, 2.1 m [7']","R. Skocik, p.176",ND-0087-Carl-Bruster.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0087,ND.0087,77.0,stopped here,stopped here
1496,ND.0068,1962-06-01,1970-01-01 00:00:00.000000000,Unprovoked,MOZAMBIQUE,Maputo Province,Santa Maria Peninsula,Skindiving,Les Bishop,M,...,"""A pack of sharks""",L. Bishop; V.M. Coppleson (1962),ND-0068-LesBishop.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0068,ND.0068,64.0,stopped here,stopped here
1497,ND.0064,1960-01-01,1970-01-01 00:00:00.000000000,Unprovoked,IRAQ,Basrah,Shatt-al-Arab River,Swimming naked near a date palm where many dat...,male,M,...,Bull shark,B.W. Coad & L.A.J. Al-Hassan,ND-0064-Shatt-al-Arab.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0064,ND.0064,61.0,stopped here,stopped here
1498,ND.0063,1960-01-01,1970-01-01 00:00:00.000000000,Unprovoked,IRAQ,Basrah,Shatt-al-Arab River near Abu al Khasib,Swimming in section of river used for washing ...,male,M,...,Bull shark,B.W. Coad & L.A.J. Al-Hassan,ND-0063-Shatt-al-Arab.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0063,ND.0063,60.0,stopped here,stopped here
1499,ND.0038,1941-12-31,1970-01-01 00:00:00.000000000,Unprovoked,IRAQ,Basrah,Shatt-el Arab River near a small boat stand,Swimming,male,M,...,Bull shark,B.W. Coad & L.A.J. Al-Hassan,ND-0038-Shatt-al-Arab.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0038,ND.0038,38.0,stopped here,stopped here

In [ ]:
#Voy a intentar cambiar los datos de year por el año de la columna date:
df_reorganizado['Year'] = df_reorganizado['Date'].dt.year

In [ ]:
df_reorganizado.Year

0       2018
1       2018
2       2018
3       2018
4       2018
        ...
1495    1975
1496    1962
1497    1960
1498    1960
1499    1941
Name: Year, Length: 1500, dtype: int64

In [ ]:
df_sin_filas_nulas.dtypes

Case Number                       object
Date                      datetime64[ns]
Year                      datetime64[ns]
Type                              object
Country                           object
Area                              object
Location                          object
Activity                          object
Name                              object
Sex                               object
Age                               object
Injury                            object
Fatal (Y/N)                       object
Time                              object
Species                           object
Investigator or Source            object
pdf                               object
href formula                      object
href                              object
Case Number.1                     object
Case Number.2                     object
original order                   float64
Unnamed: 22                       object
Unnamed: 23                       object
dtype: object

In [42]:
df_sin_filas_nulas

,Case Number,Date,Year,Type,Country,Area,Location,Activity,Name,Sex,...,Species,Investigator or Source,pdf,href formula,href,Case Number.1,Case Number.2,original order,Unnamed: 22,Unnamed: 23
0,2018.06.25,25-Jun-2018,2018.0,Boating,USA,California,"Oceanside, San Diego County",Paddling,Julie Wolfe,F,...,White shark,"R. Collier, GSAF",2018.06.25-Wolfe.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.25,2018.06.25,6303.0,stopped here,stopped here
6,2018.06.03.a,03-Jun-2018,2018.0,Unprovoked,BRAZIL,Pernambuco,"Piedade Beach, Recife",Swimming,Jose Ernesto da Silva,M,...,Tiger shark,"Diario de Pernambuco, 6/4/2018",2018.06.03.a-daSilva.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.06.03.a,2018.06.03.a,6297.0,stopped here,stopped here
8,2018.05.26.b,26-May-2018,2018.0,Unprovoked,USA,Florida,"Cocoa Beach, Brevard County",Walking,Cody High,M,...,"Bull shark, 6'","K.McMurray, TrackingSharks.com",2018.05.26.b-High.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.26.b,2018.05.26.b,6295.0,stopped here,stopped here
10,2018.05.24,24-May-2018,2018.0,Provoked,AUSTRALIA,Queensland,Cairns Aquarium,Feeding sharks,male,M,...,Grey reef shark,"ABC.net.au ,05/24/2018",2018.05.24-CairnsAquarium.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.24,2018.05.24,6293.0,stopped here,stopped here
13,2018.05.13.a,13-May-2018,2018.0,Invalid,ENGLAND,Cornwall,Off Land's End,Fishing,Max Berryman,M,...,Invalid incident,"K. McMurray, TrackingSharks.com",2018.05.13.a-Berryman.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,2018.05.13.a,2018.05.13.a,6290.0,stopped here,stopped here
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6226,ND.0087,"No date, Before 1975",0.0,Provoked,USA,Florida,"Riviera Beach, Palm Beach County",Skin diving. Grabbed shark's tail; shark turne...,Carl Bruster,M,...,"Nurse shark, 2.1 m [7']","R. Skocik, p.176",ND-0087-Carl-Bruster.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0087,ND.0087,77.0,stopped here,stopped here
6239,ND.0068,Before 1962,0.0,Unprovoked,MOZAMBIQUE,Maputo Province,Santa Maria Peninsula,Skindiving,Les Bishop,M,...,"""A pack of sharks""",L. Bishop; V.M. Coppleson (1962),ND-0068-LesBishop.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0068,ND.0068,64.0,stopped here,stopped here
6242,ND.0064,1960s,0.0,Unprovoked,IRAQ,Basrah,Shatt-al-Arab River,Swimming naked near a date palm where many dat...,male,M,...,Bull shark,B.W. Coad & L.A.J. Al-Hassan,ND-0064-Shatt-al-Arab.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0064,ND.0064,61.0,stopped here,stopped here
6243,ND.0063,1960s,0.0,Unprovoked,IRAQ,Basrah,Shatt-al-Arab River near Abu al Khasib,Swimming in section of river used for washing ...,male,M,...,Bull shark,B.W. Coad & L.A.J. Al-Hassan,ND-0063-Shatt-al-Arab.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0063,ND.0063,60.0,stopped here,stopped here
6265,ND.0038,1941-1942,0.0,Unprovoked,IRAQ,Basrah,Shatt-el Arab River near a small boat stand,Swimming,male,M,...,Bull shark,B.W. Coad & L.A.J. Al-Hassan,ND-0038-Shatt-al-Arab.pdf,http://sharkattackfile.net/spreadsheets/pdf_di...,http://sharkattackfile.net/spreadsheets/pdf_di...,ND.0038,ND.0038,38.0,stopped here,stopped here