## Ejercicio pandas 2

In [1]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')  # para quitar warnings

### Ejercicio 0:
- Carga ambos archivos **`titanic_1.csv`** y **`titanic_2.csv`** y guardalos en **`df1`** y **`df2`** respectivamente:

In [2]:
df1 = pd.read_csv("../data/titanic_1.csv")
df2 = pd.read_csv("../data/titanic_2.csv")

### Ejercicio 1:
- Mostrar las estadisticas de cada uno de los DataFrames.

In [3]:
estadisticasdf1 = df1.describe()
estadisticasdf2 = df2.describe()

In [4]:
print(estadisticasdf1)

       PassengerId         Age
count   891.000000  714.000000
mean    446.000000   29.699118
std     257.353842   14.526497
min       1.000000    0.420000
25%     223.500000   20.125000
50%     446.000000   28.000000
75%     668.500000   38.000000
max     891.000000   80.000000

### Ejercicio 2:
- Unir los DataFrames para obtener solo uno.

CON MERGE!!!!!

In [5]:
finaldf = pd.concat([df1, df2], axis = 1) #axis = 1 pegara de forma horizontal

In [6]:
finaldf

,PassengerId,Name,Sex,Age,PassengerId,Survived,Pclass,Ticket,Fare
0,1,"Braund, Mr. Owen Harris",male,22.0,1,0,3,A/5 21171,7.2500
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,2,1,1,PC 17599,71.2833
2,3,"Heikkinen, Miss. Laina",female,26.0,3,1,3,STON/O2. 3101282,7.9250
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,4,1,1,113803,53.1000
4,5,"Allen, Mr. William Henry",male,35.0,5,0,3,373450,8.0500
...,...,...,...,...,...,...,...,...,...
886,887,"Montvila, Rev. Juozas",male,27.0,887,0,2,211536,13.0000
887,888,"Graham, Miss. Margaret Edith",female,19.0,888,1,1,112053,30.0000
888,889,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,889,0,3,W./C. 6607,23.4500
889,890,"Behr, Mr. Karl Howell",male,26.0,890,1,1,111369,30.0000
890,891,"Dooley, Mr. Patrick",male,32.0,891,0,3,370376,7.7500

### Ejercicio 3:
- Imprimir las Ãºltimas 5 filas de las columnas de nombre y edad

In [7]:
finaldf.columns

Index(['PassengerId', 'Name', 'Sex', 'Age', 'PassengerId', 'Survived',
       'Pclass', 'Ticket', 'Fare'],
      dtype='object')

In [8]:
finaldf["Name"]

0                                Braund, Mr. Owen Harris
1      Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                 Heikkinen, Miss. Laina
3           Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                               Allen, Mr. William Henry
                             ...
886                                Montvila, Rev. Juozas
887                         Graham, Miss. Margaret Edith
888             Johnston, Miss. Catherine Helen "Carrie"
889                                Behr, Mr. Karl Howell
890                                  Dooley, Mr. Patrick
Name: Name, Length: 891, dtype: object

In [9]:
finaldf.Age

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: Age, Length: 891, dtype: float64

In [10]:
finaldf[885:890][["Name", "Age"]]

                                         Name   Age
885      Rice, Mrs. William (Margaret Norton)  39.0
886                     Montvila, Rev. Juozas  27.0
887              Graham, Miss. Margaret Edith  19.0
888  Johnston, Miss. Catherine Helen "Carrie"   NaN
889                     Behr, Mr. Karl Howell  26.0

### Ejercicio 4:
- Imprimir las primeras 10 filas de las instancias que en sexo sean igual a femenino.

In [11]:
finaldf[finaldf["Sex"] == "female"].head(10)

,PassengerId,Name,Sex,Age,PassengerId,Survived,Pclass,Ticket,Fare
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,2,1,1,PC 17599,71.2833
2,3,"Heikkinen, Miss. Laina",female,26.0,3,1,3,STON/O2. 3101282,7.9250
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,4,1,1,113803,53.1000
8,9,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,9,1,3,347742,11.1333
9,10,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,10,1,2,237736,30.0708
10,11,"Sandstrom, Miss. Marguerite Rut",female,4.0,11,1,3,PP 9549,16.7000
11,12,"Bonnell, Miss. Elizabeth",female,58.0,12,1,1,113783,26.5500
14,15,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,15,0,3,350406,7.8542
15,16,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,16,1,2,248706,16.0000
18,19,"Vander Planke, Mrs. Julius (Emelia Maria Vande...",female,31.0,19,0,3,345763,18.0000

### Ejercicio 5:
- Imprimir las instancias que en la columna **`Fare`** sean menor a 33 y en la columna **`Pclass`** igual a 2.

In [12]:
finaldf[(finaldf["Fare"] < 33) & (finaldf["Pclass"] == 2)]

,PassengerId,Name,Sex,Age,PassengerId,Survived,Pclass,Ticket,Fare
9,10,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,10,1,2,237736,30.0708
15,16,"Hewlett, Mrs. (Mary D Kingcome)",female,55.0,16,1,2,248706,16.0000
17,18,"Williams, Mr. Charles Eugene",male,NaN,18,1,2,244373,13.0000
20,21,"Fynney, Mr. Joseph J",male,35.0,21,0,2,239865,26.0000
21,22,"Beesley, Mr. Lawrence",male,34.0,22,1,2,248698,13.0000
...,...,...,...,...,...,...,...,...,...
866,867,"Duran y More, Miss. Asuncion",female,27.0,867,1,2,SC/PARIS 2149,13.8583
874,875,"Abelson, Mrs. Samuel (Hannah Wizosky)",female,28.0,875,1,2,P/PP 3381,24.0000
880,881,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,881,1,2,230433,26.0000
883,884,"Banfield, Mr. Frederick James",male,28.0,884,0,2,C.A./SOTON 34068,10.5000
886,887,"Montvila, Rev. Juozas",male,27.0,887,0,2,211536,13.0000

### Ejercicio 6:
- Del resultado anterior obten el nÃºmero de hombres y el nÃºmero de mujeres.

In [13]:
finaldf[(finaldf["Fare"] < 33) & (finaldf["Pclass"] == 2)]["Sex"].value_counts()

male      95
female    68
Name: Sex, dtype: int64

In [14]:
mujeres = finaldf[(finaldf["Fare"] < 33) & (finaldf["Pclass"] == 2) & (finaldf["Sex"] == "female")].shape[0]

In [15]:
mujeres

68

In [16]:
hombres = finaldf[(finaldf["Fare"] < 33) & (finaldf["Pclass"] == 2) & (finaldf["Sex"] == "male")].shape

In [17]:
hombres

(95, 9)

### Ejercicio 7:
- Obten el costo total de los tickets de hombres y el costo total de los tickets de mujeres.

Puede que haya valores que NO son numÃ©ricos en la columna Ticket, so:
pd.to_numeric(finaldf['Ticket'], errors='coerce')  Este cÃ³digo intenta convertir la columna "Ticket" a nÃºmeros. Si la conversiÃ³n no es posible, se establecerÃ¡ el valor como NaN debido al argumento errors='coerce'.
Una vez convertidos en NaN podremos filtrar la columna Ticket donde los valores son NaN, restaurarla o eliminarlas.

Un mejor mÃ©todo serÃ­a filtrar la columna Ticket donde los valores son ALFANUMERICOS, de esta manera:

# Filtrar las filas donde el valor en la columna "Ticket" contiene valores con letras o con letras y numeros a la vez (pero no los valores que contienen numeros solamente)

```python
alfanumericos = finaldf[finaldf['Ticket'].str.match(r'^[a-zA-Z]+[a-zA-Z0-9]*$')]
```
La expresiÃ³n regular 
```python 
(r'^[a-zA-Z]+[a-zA-Z0-9]*$') 
```
busca cadenas que comiencen con una o mÃ¡s letras 
```python
(^[a-zA-Z]+)
``` 
seguidas opcionalmente por cero o mÃ¡s letras y/o nÃºmeros 
```python
([a-zA-Z0-9]*$)
```
Esto garantiza que las cadenas contengan al menos una letra y pueden tener una combinaciÃ³n de letras y nÃºmeros despuÃ©s.

#Si quisieramos las filas donde la columna "Ticket" contiene valores alfanumericos (letras, numeros o una combinacion de ambas): 
```python
alfanumericos = finaldf[finaldf['Ticket'].str.match(r'^[a-zA-Z0-9]+$')]
```

***^*** indica el inicio de la cadena, ***$*** indica el final
***+*** significa "una o mÃ¡s veces", lo que indica que el patrÃ³n anterior 
(en este caso, 
```python
[a-zA-Z0-9]+$)
``` 
debe aparecer al menos una vez en la cadena.
***"*"*** significa "cero o mÃ¡s veces", lo que indica que el patrÃ³n anterior 
```python
([a-zA-Z0-9]*$)
``` 
puede aparecer cero veces o mÃ¡s en la cadena.

Aqui: 
```python
(r'^[a-zA-Z]+[a-zA-Z0-9]*$')
``` 
estamos buscando cadenas que empiecen por letras y sigan con letras o numeros.
Aqui: 
```python
(r'^[a-zA-Z0-9]+$')
``` 
estamos buscando cadenas que empiecen por letras, nÃºmeros u ambos.

In [18]:
#Creamos una nueva columna "Ticket_numeros" para filtrar las filas donde el valor ticket es un numero, las que tengan otro tipo de valor le aÃ±adiremos "NaN":
finaldf['Ticket_numeros'] = pd.to_numeric(finaldf['Ticket'], errors='coerce')
# "pd.to_numeric" intentan convertir los valores de la columna Ticket en numeros.
# "errors = 'coerce' " le dice a la funciÃ³n que si no lo consigue con un valor, lo convierta en NaN
costofemale = finaldf[(finaldf['Ticket_numeros'].notna()) & (finaldf['Sex'] == 'female')]["Ticket_numeros"].sum()
# "notna()" es una funcion que evita los NaNs, esta es la primera condiciÃ³n
# La segunda condiciÃ³n es que el Sexo sea femenino.
# la funciÃ³n " sum() " sumarÃ¡ los valores de la columna Ticket_numeros que cumplan esas condiciones.
# Lo mismo con "male"
costomale = finaldf[(finaldf["Ticket_numeros"].notna()) & (finaldf["Sex"] == "male")]["Ticket_numeros"].sum()

In [19]:
# Eliminamos la columna que hemos creado para filtrar y sobreescribimos el dataframe para que quede como antes:
finaldf.drop(columns=['Ticket_numeros'], inplace=True)

In [20]:
costofemale, costomale

(55259323.0, 116811238.0)

Esto serÃ­a lo que yo iba hacer antes de ponerme a investigar: 
Esto sumarÃ­a valores numÃ©ricos como no numÃ©ricos, y el resultado es ilegible.3

In [21]:
costomale = finaldf[(finaldf["Sex"] == "male")]["Ticket"].sum()
costofemale = finaldf[(finaldf["Sex"] == "female")]["Ticket"].sum()

In [22]:
print(costomale)

A/5 2117137345033087717463349909A/5. 2151347082382652244373239865248698113788263119950349216PC 17601C.A. 24579PC 176041137892677A./5. 2152349253S.C./A.4. 2356737037126623101295A/4. 39886113509199472697CA 2144266936973347088PC 176052661S.P. 3464315151C.A. 33111S.O.C. 1487926801601348123349208374746248738345767345779113059W./C. 6608SOTON/OQ 392086343275343276347466W.E.P. 5734C.A. 2315364500374910PC 17754PC 177592443673492153528175403101276349207312991349249110465324669STON/O 2. 310129437036911668PC 17558S.O.C. 14879A4. 54510237736352812651370372C 17369347061349241SOTON/O.Q. 3101307C.A. 29178SC/PARIS 21331138037534PC 17593365222231945C.A. 33112350043230080244310S.O.P. 1166A.5. 11206A/5. 851Fa 265302PC 17597SOTON/OQ 392090315037CA. 23433713623470683150933101295363291PC 173181601111240382652STON/O 2. 3101280177643504044133250653LINESC/PARIS 2131347077230136113767111428364849349247284242300803687034579345770CA. 234331012642628A/5 354031012782699112277SOTON/O.Q. 3101311A/5 21174250646367229243847W/C 14208SOTON/OQ 3920892203672144034923419943PP 4348SW/PP 751A/5 21173236171347067237442C.A. 295662670728665SCO/W 1585W./C. 14263STON/O 2. 310127526941992811751244252362316113514A/5. 3336384461347077110413112059C.A. 172483101295347083113798LINEPC 17596239853382652336439347464345778A/5. 10482113056349239345774349206237798SC/Paris 2163349233PC 17612269319988367226LINEA/5 2466113781P/PP 3381349243F.C.C. 1352929011A/5 21172349219CA. 2343345364113043PC 175823457643492251137767598113784230080248740244361229236C.A. 37671315088726711351026953492372647345783347088SC/PARIS 2167SOTON/O.Q. 3101310370365C 7076117653101267323951PC 177601135032648347069STON/O 2. 3101293349227S.O.C. 14879CA 2144367655113760350034310127735005228403244278STON/O 2. 3101289341826STON/O2. 31012792866434706429106312992349222394140239853STON/O 2. 310126928228349254A/5. 13032315082370129A/4. 34244364851SOTON/O.Q. 392078110564STON/O 2. 31012741350719950C.A. 187233457693470766530633638113794113786C.A. 346516530311305117453A/5 28173492401350937106019952364506111320234360A/S 2816SOTON/O.Q. 310130623985311379236209323592315089110465310273460350060CA 2144239854A/5 35941196711771A.5. 18509C.A. 3767165304SOTON/OQ 3101317113787PC 17609A/4 453802627C.A. 6212350035315086PC 17758111427C 40011601382651SOTON/OQ 3101316PC 174733492093696737111034924234925226242700367232PC 17483310129629104264126901130503644982908PC 17761693SC/PARIS 2146363291C.A. 33112174212443583309792620113807PC 17757372622349251218629SOTON/OQ 392082A/4 488713492052686350417S.W./PP 752PC 17474A/4. 20589358585STON/O 2. 3101286284031304934112375651356714973A./5. 3235STON/O 2. 3101273A/5 3902SC/AH 29037345773LINE2664PC 17485349214113796364511111426349910349246113804SOTON/O.Q. 310130537037736451234708031028265911753265335002954636369632195333492243349122704234774313214112052STON/O 2. 3101292C.A. 319213765643500501601PC 1757234923113213S.O./P.P. 7513492218475S.O.C. 148793492232975135273PC 1761126235727349210STON/O 2. 3101285S.O.C. 14879234686312993A/5 3536F.C. 12750C.A. 24580244270239856349912342826PC 17755PC 175726563CA 214429750SC/Paris 21233101295349228350036174741601267211380024873136359217421348121PC 1747536864350025250655PC 174762661113028199967545250647348124365683470623500481223325064311380631509423685326992398552842523363954636PC 177553492013492181698819877376566STON/O 2. 3101288WE/P 5735C.A. 267311377333509739209634578034920425064935004229108363294358585SOTON/O2 310127226633470741123793711108471345781350047267434707838312136865113501W./C. 6607SOTON/O.Q. 3101312374887382652C.A. 2315PC 1759312460239865PC 1760034920328213268525064711376026253470893470631120502487233474A/4 4887128206364499112058S.C./PARIS 2079C 70753470883150981997231012953683231601S.C./PARIS 20793672282910626713474682223315097392092160111774SOTON/O2 3101287S.O./P.P. 32683315090C.A. 5547CA. 2343349213248727347082347060113055262935002628134233866PC 175903457773477423492486953457657534349212349217349257C.A./SOTON 34068SOTON/OQ 392076211536111369370376

### Ejercicio 8:
- Obten el costo total de los tickets por cada clase (1, 2 y 3) y el nÃºmero de pasajeros de cada clase.

In [23]:
#Creamos una columna con los valores numÃ©ricos de la columna ticket y los que tengan otro tipo de valor serÃ¡n NaNs
finaldf["Ticket_numeros"] = pd.to_numeric(finaldf['Ticket'], errors='coerce')

In [24]:
costoclase1 = finaldf[(finaldf["Ticket_numeros"].notna()) & (finaldf["Pclass"] == 1)]["Ticket_numeros"].sum()
costoclase2 = finaldf[(finaldf["Ticket_numeros"].notna()) & (finaldf["Pclass"] == 2)]["Ticket_numeros"].sum()
costoclase3 = finaldf[(finaldf["Ticket_numeros"].notna()) & (finaldf["Pclass"] == 3)]["Ticket_numeros"].sum()
pasajerosclase1 = finaldf[(finaldf["Ticket_numeros"].notna()) & (finaldf["Pclass"] == 1)]["Pclass"].sum()
pasajerosclase2 = finaldf[(finaldf["Ticket_numeros"].notna()) & (finaldf["Pclass"] == 2)]["Pclass"].sum()
pasajerosclase3 = finaldf[(finaldf["Ticket_numeros"].notna()) & (finaldf["Pclass"] == 3)]["Pclass"].sum()

In [25]:
clase_1 = {pasajerosclase1 : costoclase1}
clase_2 = {pasajerosclase2 : costoclase2}
clase_3 = {pasajerosclase3 : costoclase3}

In [26]:
print(clase_1,
      clase_2,
      clase_3)

{152: 9668033.0} {254: 21831792.0} {1146: 140570736.0}

In [27]:
# Eliminamos la columana que creamos y sobreescribimos:
finaldf.drop(columns=['Ticket_numeros'], inplace=True)

### Ejercicio 9:
- Crear una columna con el apellido de cada pasajero y agregala al DataFrame.

In [28]:
finaldf.Name

0                                Braund, Mr. Owen Harris
1      Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                 Heikkinen, Miss. Laina
3           Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                               Allen, Mr. William Henry
                             ...
886                                Montvila, Rev. Juozas
887                         Graham, Miss. Margaret Edith
888             Johnston, Miss. Catherine Helen "Carrie"
889                                Behr, Mr. Karl Howell
890                                  Dooley, Mr. Patrick
Name: Name, Length: 891, dtype: object

In [29]:
#El apellido es la primera palabra que aparece en el nombre.
#Creamos una columna nueva aÃ±adiendo parte de los datos de otra columna con la funcion aply() y lambda para decirle el limite de hasta donde tiene que aÃ±adir:
                                #    AÃ‘ADIR X HASTA (X SEPARADAS POR COMA) INDICE 0
                                # Es decir, hemos separado las X por coma y le hemos dicho que coja el indice 0
finaldf["Surname"] = finaldf["Name"].apply(lambda x: x.split(",")[0])

In [30]:
finaldf.Surname

0         Braund
1        Cumings
2      Heikkinen
3       Futrelle
4          Allen
         ...
886     Montvila
887       Graham
888     Johnston
889         Behr
890       Dooley
Name: Surname, Length: 891, dtype: object

### Ejercicio 10:
- Encuentra si se repiten apellidos en la columna que se creo en el ejercicio anterior. (Usa .value_counts())

In [31]:
finaldf.Surname.value_counts()
# Si algÃºn valor es distinto de 1, es que se repiten.

Andersson    9
Sage         7
Panula       6
Skoog        6
Carter       6
            ..
Hanna        1
Lewy         1
Mineff       1
Haas         1
Dooley       1
Name: Surname, Length: 667, dtype: int64

### Ejercicio 11:
- Encuentra los apellidos que se repiten en la columna recien creada. Es decir, solo muestra los apellidos que aparecen mÃ¡s de 1 vez.

In [32]:
Surnames = finaldf["Surname"].value_counts()

In [33]:
Surepetidos = Surnames[Surnames > 1].index

In [34]:
Surepetidos

Index(['Andersson', 'Sage', 'Panula', 'Skoog', 'Carter', 'Goodwin', 'Johnson',
       'Rice', 'Lefebre', 'Asplund',
       ...
       'Allen', 'Futrelle', 'Oreskovic', 'Peter', 'Doling', 'Hocking',
       'Kantor', 'Petroff', 'Johnston', 'Dean'],
      dtype='object', length=133)

### Ejercicio 12:
- Imprime los primeros 10 pasajeros que tengan un **`PassengerID`** multiplo de 3.

In [35]:
#Problemas con los indices, voy a resetar los indices:
finaldf = finaldf.reset_index(drop=True)

merge mejor que concatenar, segun la columna que le de 
concat confias que el orden sea el mismo

In [37]:
finaldf

,PassengerId,Name,Sex,Age,PassengerId,Survived,Pclass,Ticket,Fare,Surname
0,1,"Braund, Mr. Owen Harris",male,22.0,1,0,3,A/5 21171,7.2500,Braund
1,2,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,2,1,1,PC 17599,71.2833,Cumings
2,3,"Heikkinen, Miss. Laina",female,26.0,3,1,3,STON/O2. 3101282,7.9250,Heikkinen
3,4,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,4,1,1,113803,53.1000,Futrelle
4,5,"Allen, Mr. William Henry",male,35.0,5,0,3,373450,8.0500,Allen
...,...,...,...,...,...,...,...,...,...,...
886,887,"Montvila, Rev. Juozas",male,27.0,887,0,2,211536,13.0000,Montvila
887,888,"Graham, Miss. Margaret Edith",female,19.0,888,1,1,112053,30.0000,Graham
888,889,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,889,0,3,W./C. 6607,23.4500,Johnston
889,890,"Behr, Mr. Karl Howell",male,26.0,890,1,1,111369,30.0000,Behr
890,891,"Dooley, Mr. Patrick",male,32.0,891,0,3,370376,7.7500,Dooley

In [36]:
resultados = finaldf[finaldf["PassengerId"].apply(lambda x : x % 3 == 0)].head(10)

ValueError: cannot reindex on an axis with duplicate labels

In [ ]:
resultados = finaldf[finaldf["PassengerId"] % 3 == 0].head(10)

ValueError: cannot reindex on an axis with duplicate labels

### Ejercicio 13:
- Â¿Cuales son los apellidos de los pasajeros que son mujeres y menores de 20 aÃ±os?

### Ejercicio 14:
- Â¿Cuales son los apellidos de los pasajeros que son hombres y mayor de 45 aÃ±os?

### Ejercicio 15:
- Compara si coinciden los apellidos generados en los ejercicios anteriores.

### Ejercicio 16:
- Encuentra los 10 pasajeros que no sobrevivieron mÃ¡s jovenes e imprime cuantos son hombres y cuantos son mujeres.

### Ejercicio 17:
-  En un DataFrame muestra 3 pasajeros que sean hombres y 3 que sean mujeres, que hayan sobrevivido y para cada clase de la columna Pclass.

### Ejercicio 18:
- Obtener el tipo de elementos de cada columna y convierte los que sean "int64" a "int32". Evalua la memoria que consume antes y despuÃ©s de convertir las columnas y comenta la diferencia.

### Ejercicio 19:
- Encuentra a los pasajeros de la clase 1 y 3 entre 20 y 25 aÃ±os y comprueba si son mÃ¡s hombres o mujeres.

### Ejercicio 20:
- Agrega una nueva columna al DataFrame que se llame: "Rango edad" y va a categorizar de la siguiente manera:
    - NiÃ±o < 11 aÃ±os
    - Joven < 18 aÃ±os
    - Adulto < 50 aÃ±os
    - Mayor >= 50 aÃ±os

### Ejercicio 21:
- Encontrar a los pasajeros "jovenes" y "mayores" de la clase 2 y 3 que hayan sobrevivido. Imprimir los 10 primeros.

### Ejercicio 22:
- Encuentra la edad promedio de todos los pasajeros y reemmplazala por los NaN en la columna de Age y ejecuta el ejercicio anterior.

### Ejercicio 23:
- Cambia a espaÃ±ol la columna **`Sex`**.

### Ejercicio 24:
- Convierte a mayusculas todas las columnas que los valores sean cadenas.

### Ejercicio 25:
- Agrupa por sexo y rango de edad y encuentra la edad promedio.

### Ejercicio 26:
- Divide la columna name en las siguientes columnas:
    - Mrs/Miss
    - Apellido
    - Nombre(s)
    
**Nota: Ignora el resto de informaciÃ³n.**